  /* Cria o seletor que pega
  todos os elementos da página e adiciona duas propriedades */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  }

  /* Pseudo-seletor :root e dentro dele temos 8 variáveis que guardarão as cores que
  utilizaremos no site: */
  :root {
    --primary: #2A7AE4;
    --black: #000000;
    --blackLighter: #9E9E9E;
    --grayLight: #F5F5F5;
    --grayMedium: #e5e5e5;
    --white: #FFFFFF;
    --frontEnd: #6BD1FF;
    --backEnd: #00C86F;
    }

    /* Seletor para a tag html e body e aplicado margin e padding com o valor 0: */
  html,
  body {
    margin: 0;
    padding: 0;
}

/* - Adicionado um seletor da tag a e aplicado a propriedade color com o valor inherit: */
  a {
    color: inherit;
  }

  #root {
    min-height: calc(100vh - var(--bodyPaddingTop));
    display: flex;
    flex-direction: column;
  }